* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #191919;
  color: #f2f2f2;
  min-height: 100vh;
}

.pages {
  flex: 1; /* Permite que o conteúdo ocupe o restante do espaço */
  margin: 0; /* Remover margem para um melhor controle de layout */
  padding: 20px; /* Adiciona espaçamento interno */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
  align-items: center;
}
